.tlg-app__title {
	position: fixed;
	top: 2.5rem;
	text-align: right;
	margin-top: 2rem;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.75rem;
	background-color: #f7fafb;
	z-index: 1;

	&:before,
	&:after {
		display: block;
		position: absolute;
		content: '';
		z-index: -99;
	}

	&:before {
		top: 50%;
		left: 50%;
		width: calc( 100% + 100px );
		height: 1px;
		background-color: rgba(149, 165, 166,1.0);
		transform: translate( -50%, -50% );
	}

	&:after {
		top: 50%;
		left: calc( 50% + 83px );
		width: 1px;
		height: calc( 100% + 50px );
		background-color: rgba(189, 195, 199,1.0);
		transform: translate( -50%, -50% );
	}
}

.tlg-app {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	font-family: $ff-serif;

	&__container {
		position: absolute;
		top: 280px;
		align-self: center;
	}

	&--light {
		background-color: #f7fafb;
	}

	&--dark {
		background-color: #1e262c;
	}
}
