html,
body {
	margin: 0;
	padding: 0;
}

.tlg-app {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100vw;
	outline: 0;

	&__container {
		position: relative;
		top: -8rem;
		text-align: center;
	}

	&__syllable {
		font-size: 10rem;
		margin-bottom: 2rem;
		min-height: 190px;
	}

	&__record-status-button {
		display: block;
		margin: 1rem auto 0 auto;
		font-size: 2rem;
	}

	&__marked {
		color: green;
	}

	&__scoreboard-button {
		position: fixed;
		top: 30px;
		right: 30px;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	&__scoreboard {
		display: flex;
		flex-flow: row wrap;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50vw;
		height: 50vh;
		background: #fff;
		transform: translate( -50%, -50% );
		border: 1px solid #d5d5d5;
		box-shadow: 0 15px 15px -5px rgba( 0, 0, 0, 0.15 );
	}

	&__scoreboard-item {
		width: 20%;
		align-self: center;
		text-align: center;
	}

	&__scoreboard-item-name {
		font-size: 3rem;
	}

	&__scoreboard-close-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 15px;
		background-color: tomato;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
	}

	&__scoreboard-item-score {
		font-family: monospace;
		color: red;
		font-size: 1.25rem;
		margin-top: 1rem;
	}
}