.tlg-app {
	&__control-bar {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__speed-control {
		position: relative;

		&:hover {
			@include tooltip;

			&::after {
				content: 'Speed ( in seconds )';
			}
		}
	}

	&__control-bar__buttons {
		display: flex;
	}

	&__control-bar-button {
		position: relative;
		margin-left: 1.3rem;
		cursor: pointer;

		&--reload {
			&:hover {
				@include tooltip;

				&::after {
					content: 'Reload';
				}
			}
		}

		&--play {
			&:hover {
				@include tooltip;

				&::after {
					content: 'Play';
				}
			}
		}

		&--pause {
			&:hover {
				@include tooltip;

				&::after {
					content: 'Pause';
				}
			}
		}
	}
}

.tlg-app--light {
	.tlg-app {
		&__control-bar {
			border-top: 1px solid #e5e5e5;
			padding: 1em 1em;
		}
	}
}
