$ff-serif: 'Times new roman';
$ff-sans-serif: sans-serif;

/**
* Utilities
*/
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../node_modules/bulma/sass/utilities/controls.sass";

/**
* Base
*/
@import "../../../node_modules/bulma/sass/base/_all.sass";

/**
 * Form
 */
@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";

/**
 * Components
 */
@import "../../../node_modules/bulma/sass/components/_all.sass";

html,
body {
	margin: 0;
	padding: 0;
}
