$ff-serif: 'Times new roman';
$ff-sans-serif: sans-serif;

/**
* Utilities
*/
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../node_modules/bulma/sass/utilities/controls.sass";

/**
* Base
*/
@import "../../../node_modules/bulma/sass/base/_all.sass";

/**
 * Form
 */
@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";

/**
 * Components
 */
@import "../../../node_modules/bulma/sass/components/_all.sass";

html,
body {
	margin: 0;
	padding: 0;
}

@mixin tooltip {
	&::before {
		display: block;
		content: '';
		position: absolute;
		top: -26px;
		left: 50%;
		transform: translate(-50%, 0) rotate(45deg);
		width: 15px;
		height: 15px;
		background-color: #2c3e50;
		z-index: 1;
	}

	&::after {
		display: block;
		position: absolute;
		top: -50px;
		left: 50%;
		transform: translate(-50%, 0);
		width: fit-content;
		background-color: #2c3e50;
		color: #fff;
		font-family: $ff-sans-serif;
		z-index: 2;
		padding: 4px 8px;
		border-radius: 3px;
	}
}
