.tlg-app {
	&__progress-bar {
		height: 10px;
		position: relative;
		background: #2c3e50; 
	}

	&__progress-bar-container {
		display: block;
		height: 100%;
	}

	&__progress-bar-dummy {
		height: 10px;
	}
}

.tlg-app__progress-bar-entity {
	display: block;
    background-color: #27ae60;
    animation: progress-bar 5s linear;
    animation-fill-mode: backwards;
    animation-direction: reverse;
	animation-iteration-count: infinite;
	height: 100%;
}

@keyframes progress-bar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}